/* 詳細フィルタ */
.filter:hover,.filter:active
{
	background:#999;
}
.filter button
{
	width:16px;
	height:16px;
	background:none;
	border:none;
	padding:0;
	border-radius:0;
	box-shadow:none;
	vertical-align:top;
}
.filter .pattern
{
	height:16px;
	background:transparent;
	border:none;
}

.filter .option                   { opacity:0.2; }
.filter .option:hover             { opacity:0.5; }
.filter .option[data-apply]       { opacity:1;   }
.filter .option[data-apply]:hover { opacity:0.7; }
/* ignore のオプションは無効 */
.filter .act[value="ignore"] ~ .resource,
.filter .act[value="ignore"] ~ .host,
.filter .act[value="ignore"] ~ .domain
{
	visibility:hidden;
}
/* hosting level */
.filter .host
{
	width:8px;
	vertical-align:top;
	background-image: linear-gradient(to bottom,#999999,#000000 50%,#999999);
}
.filter .host:hover
{
	background-image: linear-gradient(to bottom,#003366,#999999 50%,#003366);
}
.filter .host[data-apply]
{
	background-image: linear-gradient(to bottom,#003399,#ffffff 50%,#003399);
}
.filter .host[data-apply]:hover
{
	background-image: linear-gradient(to bottom,#003399,#cccccc 50%,#003399);
}

/* includeDomains/excludeDomains */
.filter button.domain
{

	border-radius:2px;
	background-color:#ccc;

}
.filter button.domain img
{
	border-radius:2px;
}
/* excludeDomains */
.filter button.domain[data-type="excludeDomains"]
{

	background-color:#666;
	-webkit-filter: invert(100%) /*contrast(100%) brightness(1.5)*/;
	-moz-filter   : invert(100%) /*contrast(100%) brightness(1.5)*/;
	-ms-filter    : invert(100%) /*contrast(100%) brightness(1.5)*/;
	filter        : invert(100%) /*contrast(100%) brightness(1.5)*/;

}
.filter button.domain[data-type]::after
{

	content:"\A";
	display:inline-block;
	width:16px;
	height:16px;
	border-radius:2px;
	margin-left:-16px;

}
/* includeDomains */
.filter button.domain[data-type="includeDomains"]::after
{

	box-shadow:inset 2px 2px 2px #fff,inset -2px -2px 2px #000;

}
/* excludeDomains */
.filter button.domain[data-type="excludeDomains"]::after
{

	box-shadow:inset 2px 2px 2px #fff,inset -2px -2px 2px #000;

}

.filter span.domain
{
	vertical-align:top;
	display:inline-block;
	width:0;
	overflow:hidden;
	height:16px;
}
.filter:hover span.domain,
.filter :focus ~ span.domain
{
	width:auto;
}
.filter .domain input[type="text"]
{
	height:12px;
	width:8em;
	min-width:auto;
	padding-right:32px;
	margin-right:-32px;
}
