/****************/
/* 簡易フィルタ */
/****************/

/* 遮断側アイコン */

#SimpleFilter input + img
{
	-webkit-filter: grayscale(100%) contrast(60%) brightness(90%);
	-moz-filter   : grayscale(100%) contrast(60%) brightness(90%);
	-ms-filter    : grayscale(100%) contrast(60%) brightness(90%);
	filter        : grayscale(100%) contrast(60%) brightness(90%);
}

/* スライダーを稲妻にする */

#SimpleFilter input::-webkit-slider-thumb
{
	width:16px;
	height:16px;
	margin-top:-7px;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:url("/images/simple.png");
}

#SimpleFilter input::-moz-range-thumb
{
	width:16px;
	height:16px;
	margin-top:-7px;
	border:none;
	box-shadow:none;
	border-radius:0;
	background:url("/images/simple.png");
}
